@model Mooshak2.Models.PartResponseViewModels
<br />
<div style="border: 1px solid #443266; padding: 20px;">
    <h4 class="text-center"><b>Submit @Model.subProjectName</b></h4>
    @using (Html.BeginForm("SubProjectSubmit", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="text-center">
            <table class="createUser">
                <tr>
                    <td class="text-center"> @Html.TextBoxFor(model => model.file, new { type = "file" })</td>
                </tr>
            </table>
            </div>
            @Html.HiddenFor(model => model.subProjectID)
            @Html.HiddenFor(model => model.projectID)

            if (Model.nrGroupMembers == 0)
            {
            for (var i = 0; i < Model.groupMembers.Count(); i++)
            {
            <div>
                @Html.DropDownListFor(item => Model.groupMembers[i].userID, new SelectList(Model.students, "userID", "fullName"), string.Empty)
                @Html.HiddenFor(item => Model.groupMembers[i].userID)

            </div>

            }
            }
            <br />
            <div class="text-center">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>

            }


        </div><br />
