
@model Mooshak2.Models.ProjectViewModels

@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/Student_Layout.cshtml";
}
<script type="text/javascript">

$(function() {
   $('#myddl').change(function() {
       var url = $(this).data('url');
       var value = $(this).val();
       $('#result').load(url, { value: value })
    });
});

</script>
<div class="container body-content">
    <div class="text-center">
        <h2>@Model.projectName</h2>
    </div><br />
    @if (Model.subProjects == null || Model.subProjects.Count == 0)
    {
        <div>There are no subprojects in this project!</div>
    }


    @if (Model.subProjects != null && Model.subProjects.Count > 0 && Model.canHandIn == true)
    {
        <div class="text-center">
            Pick a sub project to hand in

            @Html.DropDownListFor(
    x => x.subProjects,
    new SelectList(Model.subProjects, "subProjectId", "subProjectName"),
    string.Empty,
    new
    {
        id = "myddl",
        data_url = Url.Action("SubmitSubProject", "Student")
    })
        </div><br />
    }

    <div id="result"></div>


    @if (Model.groupMembers != null && Model.groupMembers.Count > 0)
    {
        <div class="text-center"><h4>Members</h4></div>
        foreach (var member in Model.groupMembers)
        {
            <div class="text-center">@member.firstName @member.lastName</div>
        }
    }
    <br />
    <h3 class="text-center">My submissions</h3>
    <table class="table table-striped">
        <tr>
            <th class="text-center">Download</th>
            <th class="text-center">Username</th>
            <th class="text-center">View online if possible</th>
            <th class="text-center">Status</th>
        </tr>
        @if (ViewBag.responses.Count == 0)
        {
            <tr>
                <td class="text-center">No responses registred</td>
                <td class="text-center"></td>
                <td class="text-center"></td>
                <td class="text-center"></td>
            </tr>
        }
        @if (ViewBag.responses.Count > 0)
        {
            foreach (var response in ViewBag.responses)
            {
                <tr>
                    <td class="text-center">
                         @if (response.fileName != null)
                         {
                            <a href="@Url.Action("DownloadFile", "Student" , new {partResponseID=response.partResponseID})">
                                @response.fileName
                            </a>
                         }

                    </td>

                    <td class="text-center">@response.members</td>
                    
                    <td class="text-center">
                        @if (response.fileName != null)
                    {
                            <a href="@Url.Action("DownloadFileInline", "Student" , new {partResponseID=response.partResponseID})" target="_blank">
                                @response.subProjectName
                            </a>
                        }
                    </td>
                    <td class="text-center">
                        @if(response.status == 1)
                        {
                            <div>Accepted</div>
                        }
                        @if (response.status == 2)
                        {
                            <div>Wrong answer</div>
                        }
                        @if (response.status == 3)
                        {
                            <div>Compile time error</div>
                        }
                        @if (response.status == 4)
                        {
                            <div>Timelimit exceeded</div>
                        }
                        @if (response.status == 5)
                        {
                            <div>Memory error</div>
                        }
                    </td>
                </tr>
            }
        }
    </table>
</div>