@using Mooshak2.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}
<div class="text-center">
    <h2>@ViewBag.Title.</h2>
</div>

    <div class="row">

        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Use a local account to log in.</h4>
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <table class="createUser" cellpadding="10">
                        <tr>
                            <td>@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</td>
                            <td>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</td>
                        <td>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </td>
                </tr>
            </table>
            </div>

            <div class="control-group text-center">
                <!-- Button -->
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Log in">
                </div>
            </div>
            }
        </section>

    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
