@model Mooshak2.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}
<div class="text-center">
    <h2>Create New User</h2>
</div>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        // <hr />
        <div class="text-center">
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isAdmin" value=""-->
                @Html.CheckBoxFor(model => model.isAdmin)
                Admin
            </label>
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isTeacher" value=""-->
                @Html.CheckBoxFor(model => model.isTeacher)
                Teacher
            </label>
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isStudent" value=""-->
                @Html.CheckBoxFor(model => model.isStudent)
                Student
            </label>
        </div>
        <table class="createUser" cellpadding="10">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <tr>
                <td><label class="control-label" @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.TextBoxFor(m => m.Email, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td><label class="control-label" @Html.LabelFor(m => m.firstName, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td><label class="control-label" @Html.LabelFor(m => m.lastName, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td><label class="control-label" @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.PasswordFor(m => m.Password, new { @class = "form-control" })</td>
            </tr>
            <tr>
                <td><label class="control-label" @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })</td>
                <td>@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })</td>
            </tr>
        </table><br />
        <div class="control-group text-center">
            <div class="controls">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>

    }

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
