
@model Mooshak2.Models.CoursesViewModels

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}
<div class="text-center">
    <h2>@Model.courseName</h2>
</div><br />

<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered">
                <tr>
                    <th class="text-center">Projects</th>
                    <th class="text-center">Opening date</th>
                    <th class="text-center">Closing date</th>
                </tr>
                @if (Model.projects == null || Model.projects.Count() == 0)
            {
                    <tr>
                        <td>No projects assigned</td>
                        <td></td>
                        <td></td>
                    </tr>
                }
                @if (Model.projects != null && Model.projects.Count() > 0)
                {
                    foreach (var project in Model.projects)
                    {
                        <tr>
                            <td class="text-center">
                                <a href="@Url.Action("Project", "Teacher" , new {projectID=project.projectID})">
                                    @project.projectName
                                </a>
                            </td>
                            <td class="text-center">@project.open.ToString("dd.MM.yyyy") </td>
                            <td class="text-center">@project.close.ToString("dd.MM.yyyy") </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>

    <!--
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Teachers</th>
                    <th></th>
                </tr>
                foreach (var teacher in Model.teachers)
                {
                    <tr>
                        <td>teacher.firstName teacher.lastName</td>
                        <td>teacher.email</td>
                    </tr>
                }
            </table>
        </div>
        <div class="col-md-6">
            <table class="table table-striped table-bordered">
                <tr>
                    <th>Students</th>
                    <th></th>
                </tr>
                foreach (var student in Model.students)
            {
                    <tr>
                        <td>student.firstName student.lastName</td>
                        <td>student.email</td>
                    </tr>
                }
            </table>

        </div>
    </div> -->

</div>