
@model Mooshak2.Models.ProjectViewModels

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}
<script type="text/javascript">

$(function() {
    $('#myddl').change(function () {
       var url = $(this).data('url');
       var value = $(this).val();
       var projectID = $('#projectID').val();
       $('#result').load(url, { value: value, projectID: projectID })
    });
});

</script>
<div class="container body-content">
    <table cellpadding="5">
        <tr>
            <td><a href="@Url.Action("EditProject", "Teacher" , new {projectID=Model.projectID})">
                      <span class="glyphicon glyphicon-pencil project-pencil" aria-hidden="true"></span>
            </a></td>
            <td><h2>@Model.projectName</h2></td>
        </tr>
    </table>
       
     <br />
    <div class="text-center">
        <h4>Subprojects</h4>
    </div><br />

    <table class="table table-striped">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Percentage</th>
            <th class="text-center">Input file</th>
            <th class="text-center">Output file</th>
            <th class="text-center">Edit</th>
            <th class="text-center">Delete</th>
        </tr>
        @if (Model.subProjects.Count() == 0)
        {
            <tr>
                <td>No subprojects registred</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        @if (Model.subProjects.Count() > 0)
        {
            foreach (var subProject in Model.subProjects)
            {
                <tr>
                    <td class="text-center">@subProject.subProjectName</td>
                    <td class="text-center">@subProject.percentage %</td>
                    <td class="text-center">
                        @if (subProject.inputFileName != null)
                    {
                            <a href="@Url.Action("DownloadInputFile", "Teacher" , new {subProjectID=subProject.subProjectID})">
                                @subProject.inputFileName
                            </a>
                            <!--<a href="Url.Action("DownloadInputFileInline", "Teacher" , new {subProjectID=subProject.subProjectID})" target="_blank">
                                View inline if possible
                            </a>-->
                        }

                    </td>
                    <td class="text-center">
                        @if (subProject.outputFileName != null)
                    {
                            <a href="@Url.Action("DownloadOutputFile", "Teacher" , new {subProjectID=subProject.subProjectID})">
                                @subProject.outputFileName
                            </a>
                            <!--<a href="Url.Action("DownloadOutputFileInline", "Teacher" , new {subProjectID=subProject.subProjectID})" target="_blank">
                                View inline if possible
                            </a>-->
                        }

                    </td>
                    <td class="text-center">
                        <a href="@Url.Action("EditSubProject", "Teacher" , new {subProjectID=subProject.subProjectID})">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </td>
                    <td class="text-center">
                        @if (subProject.nrOfResponses == 0)
                    {
                            <a href="@Url.Action("DeleteSubProject", "Teacher" , new {subProjectID=subProject.subProjectID})">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        }
                    </td>
                </tr>
            }
        }
    </table>

    <a class="btn btn-primary" href="@Url.Action("AddSubProject", "Teacher" , new {projectID=Model.projectID})">
        Add subproject
    </a>
    </div>

<div class="text-center">
    View student responses
</div>
<div class="text-center">
    @Html.DropDownListFor( x => x.students, new SelectList(ViewBag.students, "userID", "fullName"), string.Empty, new { id = "myddl", data_url = Url.Action("ViewStudentResponses", "Teacher"), @class= "form-control display-inline" } )
           @Html.HiddenFor(m => @Model.projectID)

</div><br />
<div id="result"></div>





