
@model Mooshak2.Models.ProjectViewModels

@{
    ViewBag.Title = "Course";
    Layout = "~/Views/Shared/Teacher_Layout.cshtml";
}
<script type="text/javascript">

$(function() {
    $('#myddl').change(function () {
       var url = $(this).data('url');
       var value = $(this).val();
       var projectID = $('#projectID').val();
       $('#result').load(url, { value: value, projectID: projectID })
    });
});

</script>
<div class="container body-content">
    <div>
        <h2>@Model.projectName</h2>
       <a class="btn btn-primary" href="@Url.Action("EditProject", "Teacher" , new {projectID=Model.projectID})">
            Edit project
        </a>
    </div> <br />
    <h4>Subprojects</h4>

    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Percentage</th>
            <th>Input file</th>
            <th>Output file</th>
            <th></th>
            <th></th>
        </tr>
        @if (Model.subProjects.Count() == 0)
        {
            <tr>
                <td>No subprojects registred</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }
        @if (Model.subProjects.Count() > 0)
        {
            foreach (var subProject in Model.subProjects)
            {
                <tr>
                    <td>@subProject.subProjectName</td>
                    <td>@subProject.percentage %</td>
                    <td>
                        @subProject.inputFileName
                        @if (subProject.inputFileName != null)
                    {
                            <a href="@Url.Action("DownloadInputFile", "Teacher" , new {subProjectID=subProject.subProjectID})">
                                Download
                            </a>
                            <a href="@Url.Action("DownloadInputFileInline", "Teacher" , new {subProjectID=subProject.subProjectID})" target="_blank">
                                View inline if possible
                            </a>
                        }

                    </td>
                    <td>
                        @subProject.outputFileName
                        @if (subProject.outputFileName != null)
                    {
                            <a href="@Url.Action("DownloadOutputFile", "Teacher" , new {subProjectID=subProject.subProjectID})">
                                Download
                            </a>
                            <a href="@Url.Action("DownloadOutputFileInline", "Teacher" , new {subProjectID=subProject.subProjectID})" target="_blank">
                                View inline if possible
                            </a>
                        }

                    </td>
                    <td>
                        <a href="@Url.Action("EditSubProject", "Teacher" , new {subProjectID=subProject.subProjectID})">
                            Edit
                        </a>
                    </td>
                    <td>
                        @if (subProject.nrOfResponses == 0)
                    {
                            <a href="@Url.Action("DeleteSubProject", "Teacher" , new {subProjectID=subProject.subProjectID})">
                                Delete
                            </a>
                        }
                    </td>
                </tr>
            }
        }
    </table>

    <a class="btn btn-primary" href="@Url.Action("AddSubProject", "Teacher" , new {projectID=Model.projectID})">
        Add subproject
    </a>
    </div>

<div>
    View student responses
</div>
<div>
    @Html.DropDownListFor(
    x => x.students,
    new SelectList(ViewBag.students, "userID", "fullName"),
    string.Empty,
    new
    {
        id = "myddl",
        data_url = Url.Action("ViewStudentResponses", "Teacher")
    }
    )
    
    @Html.HiddenFor(m => @Model.projectID)

</div>
<div id="result"></div>





