@model Mooshak2.Models.UsersViewModels
@{
    ViewBag.Title = "EditUser";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<div class="text-center">
    <h2>Edit user</h2>
</div><br />

<form class="form-horizontal" action='' method="POST">
    <fieldset>
        <div class="text-center">
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isAdmin" value=""-->
                @Html.CheckBoxFor(model => model.isAdmin)
                Admin
            </label>
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isTeacher" value=""-->
                @Html.CheckBoxFor(model => model.isTeacher)
                Teacher
            </label>
            <label class="checkbox-inline">
                <!--input type="checkbox" name="isStudent" value=""-->
                @Html.CheckBoxFor(model => model.isStudent)
                Student
            </label>
        </div>
        <table class="createUser" cellpadding="10">
            <tr>
                <td><label class="control-label" for="firstName">First name</label></td>
                <td><input class="form-control" @Html.EditorFor(model => model.firstName)</td>
            </tr>
            <tr>
                <td><label class="control-label" for="lastName">Last name</label></td>
                <td><input class="form-control" @Html.EditorFor(model => model.lastName)</td>
            </tr>
            <tr>
                <td><label class="control-label" for="username">Username</label></td>
                <td><input class="form-control" @Html.EditorFor(model => model.username)</td>
            </tr>
            <tr>
                <td><label class="control-label" for="email">Email</label></td>
                <td><input class="form-control" @Html.EditorFor(model => model.email)</td>
            </tr>  
           </table> 
            @Html.HiddenFor(model => model.userID)
        <br />
        <div class="control-group text-center">
            <div class="controls">
                <input type="submit" class="btn btn-primary" value="Edit user" />
            </div>
        </div>
</fieldset>
</form>