@model Mooshak2.Models.CoursesViewModels
@{
    ViewBag.Title = "EditCourse";
}Edit course</h2>

<h2>Allir nemendur hópsins</h2>
<table class="table">
    <tr>
        <td>First name</td>
        <td>Last name</td>
    </tr>
    @foreach (var user in ViewBag.allStudents)
    {
        <tr>
            <td>@user.firstName</td>
            <td>@user.lastName</td>
        </tr>
    }
</table>

<h2>Allir kennarar hópsins</h2>
<table class="table">
    <tr>
        <td>First name</td>
        <td>Last name</td>
    </tr>
    @foreach (var user in ViewBag.allTeachers)
    {
        <tr>
            <td>@user.firstName</td>
            <td>@user.lastName</td>
        </tr>
    }
</table>
     

<form class="form-horizontal" action='' method="POST">
    Name of course:<br>
    <!--input type="text" id="courseName" name="courseName"-->
    @Html.EditorFor(model => model.courseName)
    <br><br>
    <input type="submit" value="Edit course">
</form>